@using System.Text.Json;
@* @using SchoolPortal.Common.Models.CustomModels; *@

@* @{
	var sessionJson = Context.Session.GetString("UserSession");
	string userName = "User";
	if (!string.IsNullOrEmpty(sessionJson))
	{
		var session = JsonSerializer.Deserialize<SessionModel>(sessionJson);
		// Null check to avoid dereferencing a potentially null reference
		userName = session?.userDetail?.UserName ?? "User";
	}
} *@

@{
	var userName = Context.Request.Cookies["UserName"];
	var userEmail = Context.Request.Cookies["UserEmail"];
}

@if (!string.IsNullOrEmpty(userName))
{
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="ace-icon fa fa-user"></i>
				@userName
				<i class="ace-icon fa fa-angle-down"></i>
			</a>

			<ul class="dropdown-menu dropdown-menu-right dropdown-yellow dropdown-caret dropdown-close">
				<li>
					<a href="#">
						<i class="ace-icon fa fa-cog"></i>
						Settings
					</a>
				</li>

				<li>
					<a href="#">
						<i class="ace-icon fa fa-user"></i>
						Profile
					</a>
				</li>

				<li class="divider"></li>

				<li>
					<form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
						<button type="submit" class="btn btn-link navbar-btn navbar-link">
							<i class="ace-icon fa fa-power-off"></i>
							Logout
						</button>
					</form>
				</li>
			</ul>
		</li>
	</ul>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a asp-controller="Account" asp-action="Login">
				<i class="ace-icon fa fa-sign-in"></i>
				Login
			</a>
		</li>
	</ul>
}